#config-overlay{
    margin:0.5rem 0;
    text-align:center;
}

.form-control{
    margin:0.5rem 0;
    display:block;
}

.form-control label{
    display:block;
    margin-bottom:0.5rem;
    font-weight:bold;

}

.form-conrol input{
    font: inherit;
    border:1px solid grey;
    width:15rem;
    padding: 0.35rem;
    border-radius:5px;
}

.error label{
    color:rgb(190, 33, 33);
}

.error input{
    border-color:rgb(190, 33, 33);
    color:rgb(190, 33, 33);
    background-color:rgb(236, 183, 183);

}
#game-configuration{
    width:90%;
    max-width:40rem;
    margin:3rem auto;
    text-align: center;
}

#game-configuration ol{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    
}

#game-configuration h2{
    font-size:1rem;
    margin:0.5rem 0;
}

#game-configuration h3{
    font-size:1.15rem;
    color:rgb(218, 76, 20);
}
#game-configuration li{
    margin:1rem;
    padding:1rem;
    width:50%;
    background-color:beige;
    border-radius:8px;
}

.player-symbol{
    font-size:2rem;
    font-weight:bold;
    color:rgb(39, 24, 17);
}
