#active-game{
    text-align:center;
    /* display:none; */
    margin:2rem 0 5rem 0;
    
}
#game-over{
    width:90%;
    max-width:40rem;
    margin:auto;
    padding:2rem 1rem;
    background-color: orangered;
    color:white;
    border-radius:4px;
    box-shadow:0 2px 8px rgb(49, 48, 48);
    display:none;
}

#game-over h2{
    font-size:2.5rem;
    margin:0.5rem 0;
}
#active-player-name{
    font-weight:bold;
    color:rgb(233, 99, 50);
}

#game-board{
    list-style:none;
    margin:1rem 0;
    padding:0;
    display:grid;
    grid-template-columns: repeat(3,6rem);/* 6rem 6rem 6rem */
    grid-template-rows: repeat(3, 6rem);
    gap:0.5rem;
    justify-content:center;
}

#game-board li{
    background-color:rgb(241, 177, 153);
    border-radius:2px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2.5rem;
    font-weight:bold;
}

#game-board li:hover{
    background-color:rgb(248, 95, 39);

}
#game-board li.disabled{
    background-color:rgb(248, 95, 39);
    cursor:default;
    color:white;
}